In [16]:
import pandas as pd
import numpy as np
import plotly.express as px
from matplotlib import pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [17]:
# Load the data
df = pd.read_csv('Database/all_data.csv', encoding='iso-8859-1')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2158 non-null   float64
 1   FirstName       2158 non-null   object
 2   LastName        2158 non-null   object
 3   City            2158 non-null   object
 4   Country         2158 non-null   object
 5   Phone           2158 non-null   object
 6   OrderID         2155 non-null   float64
 7   OrderDate       2155 non-null   object
 8   OrderNumber     2155 non-null   float64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2157 non-null   float64
 11  ProductName     2157 non-null   object
 12  UnitPrice       2157 non-null   float64
 13  Package         2157 non-null   object
 14  IsDiscontinued  2157 non-null   object
 15  SupplierID      2157 non-null   float64
 16  CompanyName     2157 non-null   object
 17  ContactName     2157 non-null   object
 18  City.1          2157 non-null   object
 19  Country.1       2157 non-null   object
 20  Phone.1         2157 non-null   object
 21  Fax             947 non-null    object
dtypes: float64(7), object(15)
memory usage: 371.6+ KB

In [19]:
df.sample(5)

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
1269,62.00,L?cia,Carvalho,Sao Paulo,Brazil,(11) 555-1189,481.00,11/4/2013 0:00,542858.00,1296.75,60.00,Camembert Pierrot,34.00,15 - 300 g rounds,False,28.00,Gai pâturage,Eliane Noz,Annecy,France,38.76.98.06,38.76.98.58
1205,35.00,Carlos,Hern?ndez,San Crist?bal,Venezuela,(5) 555-1340,458.00,10/15/2013 0:00,542835.00,378.00,32.00,Mascarpone Fabioli,32.00,24 - 200 g pkgs.,False,14.00,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,Italy,(0544) 60323,(0544) 60603
1363,20.00,Roland,Mendel,Graz,Austria,7675-3425,517.00,12/3/2013 0:00,542894.00,2540.00,39.00,Chartreuse verte,18.00,750 cc per bottle,False,18.00,Aux joyeux ecclésiastiques,Guylène Nodier,Paris,France,(1) 03.83.00.68,(1) 03.83.00.62
1259,21.00,Aria,Cruz,Sao Paulo,Brazil,(11) 555-9857,478.00,10/31/2013 0:00,542855.00,287.80,52.00,Filo Mix,7.00,16 - 2 kg boxes,False,24.00,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873
1978,69.00,Alejandra,Camino,Madrid,Spain,(91) 745 6200,766.00,4/9/2014 0:00,543143.00,361.00,45.00,Rogede sild,9.50,1k pkg.,False,21.00,Lyngbysild,Niels Petersen,Lyngby,Denmark,43844108,43844115

In [20]:
df[df['OrderID'].isnull()]

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
2155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.00,Stroopwafels,9.75,24 pieces,False,22.00,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,Netherlands,(12345) 1212,(12345) 1210
2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.00,DataScience,50.00,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157,92.00,Ali,Ali,Cairo,Egypt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,22.00,Diego,Roel,Madrid,Spain,(91) 555 94 44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,57.00,Marie,Bertrand,Paris,France,(1) 42.34.22.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.00,DSClub,AEmad,Alex,Egypt,11111,11111

In [21]:
df = df.dropna(subset='OrderID', inplace=True)