In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
from matplotlib import pyplot as plt
import seaborn as sns

# Configure pandas display options for better readability
pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [ ]:
# Load the data from the specified CSV file
df = pd.read_csv('Database/all_data.csv', encoding='iso-8859-1')

In [ ]:
# Display basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2158 non-null   float64
 1   FirstName       2158 non-null   object
 2   LastName        2158 non-null   object
 3   City            2158 non-null   object
 4   Country         2158 non-null   object
 5   Phone           2158 non-null   object
 6   OrderID         2155 non-null   float64
 7   OrderDate       2155 non-null   object
 8   OrderNumber     2155 non-null   float64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2157 non-null   float64
 11  ProductName     2157 non-null   object
 12  UnitPrice       2157 non-null   float64
 13  Package         2157 non-null   object
 14  IsDiscontinued  2157 non-null   object
 15  SupplierID      2157 non-null   float64
 16  CompanyName     2157 non-null   object
 17  ContactName     2157 non-null   object
 18  City.1          2157 non-null   object
 19  Country.1       2157 non-null   object
 20  Phone.1         2157 non-null   object
 21  Fax             947 non-null    object
dtypes: float64(7), object(15)
memory usage: 371.6+ KB

In [ ]:
# Display a random sample of 5 rows for quick inspection
df.sample(5)

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
1221,71.00,Jose,Pavarotti,Boise,USA,(208) 555-8097,464.00,10/21/2013 0:00,542841.00,4451.70,53.00,Perth Pasties,32.80,48 pieces,True,24.00,"G'day, Mate",Wendy Mackenzie,Sydney,Australia,(02) 555-5914,(02) 555-4873
1641,30.00,José,Pedro Freyre,Sevilla,Spain,(95) 555 82 82,625.00,2/5/2014 0:00,543002.00,2166.80,65.00,Louisiana Fiery Hot Pepper Sauce,21.05,32 - 8 oz bottles,False,2.00,New Orleans Cajun Delights,Shelley Burke,New Orleans,USA,(100) 555-4822,NaN
1925,24.00,Maria,Larsson,Br?cke,Sweden,0695-34 67 21,746.00,4/1/2014 0:00,543123.00,6527.25,41.00,Jack's New England Clam Chowder,9.65,12 - 12 oz cans,False,19.00,New England Seafood Cannery,Robb Merchant,Boston,USA,(617) 555-3267,(617) 555-3389
1570,71.00,Jose,Pavarotti,Boise,USA,(208) 555-8097,600.00,1/22/2014 0:00,542977.00,6164.90,19.00,Teatime Chocolate Biscuits,9.20,10 boxes x 12 pieces,False,8.00,"Specialty Biscuits, Ltd.",Peter Wilson,Manchester,UK,(161) 555-4448,NaN
1392,31.00,André,Fonseca,Campinas,Brazil,(11) 555-9482,530.00,12/15/2013 0:00,542907.00,280.00,42.00,Singaporean Hokkien Fried Mee,14.00,32 - 1 kg pkgs.,True,20.00,Leka Trading,Chandra Leka,Singapore,Singapore,555-8787,NaN

In [ ]:
# Check for rows with missing OrderID values
df[df['OrderID'].isnull()]

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
2155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.00,Stroopwafels,9.75,24 pieces,False,22.00,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,Netherlands,(12345) 1212,(12345) 1210
2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.00,DataScience,50.00,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157,92.00,Ali,Ali,Cairo,Egypt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,22.00,Diego,Roel,Madrid,Spain,(91) 555 94 44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,57.00,Marie,Bertrand,Paris,France,(1) 42.34.22.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.00,DSClub,AEmad,Alex,Egypt,11111,11111

In [ ]:
# Drop rows where OrderID is missing, as they are likely invalid
df.dropna(subset=['OrderID'], inplace=True)

In [ ]:
# Rename columns for better clarity and consistency
df.rename(columns={'City.1': 'SuppCity', 'Country.1': 'SuppCountry', 'Phone.1': 'SuppPhone'}, inplace=True)

In [ ]:
# Convert OrderDate to datetime format for easier manipulation
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [ ]:
# Convert columns containing 'ID' or 'OrderNumber' to integer type for consistency
for col in df.columns:
    if 'ID' in col or 'OrderNumber' in col:
        df[col] = df[col].astype(int)

In [ ]:
# Verify the changes made to the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2155 entries, 0 to 2154
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2155 non-null   int64
 1   FirstName       2155 non-null   object
 2   LastName        2155 non-null   object
 3   City            2155 non-null   object
 4   Country         2155 non-null   object
 5   Phone           2155 non-null   object
 6   OrderID         2155 non-null   int64
 7   OrderDate       2155 non-null   datetime64[ns]
 8   OrderNumber     2155 non-null   int64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2155 non-null   int64
 11  ProductName     2155 non-null   object
 12  UnitPrice       2155 non-null   float64
 13  Package         2155 non-null   object
 14  IsDiscontinued  2155 non-null   object
 15  SupplierID      2155 non-null   int64
 16  CompanyName     2155 non-null   object
 17  ContactName     2155 non-null   object
 18  SuppCity        2155 non-null   object
 19  SuppCountry     2155 non-null   object
 20  SuppPhone       2155 non-null   object
 21  Fax             945 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(14)
memory usage: 387.2+ KB